<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
a : <input type="number" ng-model="a"><br>
b : <input type="number" ng-model="b"><br>
a + b = {{a + b}}
<br>
{{ person.a + '-' + person.b }}
<br>
{{ arr[2] + '-' + person.c(a) }}
<script>
    var app = angular.module('myApp',[]);
    app.controller('myCtrl',function($scope){
        $scope.a = 1;
        $scope.b = 2;
        $scope.person = {a:1,b:'hw',c: function (d) {
            return d*d;
        }};
        $scope.arr = [1,2,3,4,5];
    });
</script>
</body>
</html>