/*HTML选择器*/
p {
    text-indent: 3em;}
h1 {
    color: red;}
/*类选择器*/
p.drak-row {
    background-color: #cccccc;}
p.light-row {
    background-color: #ffff00;}
.note {
    font-size: small;}
/*ID选择器*/
#main {
    text-indent: 3em;}
/*关联选择器*/
table a { color:red;}
/*组合选择器*/
h1,h2,h3 {
    color: red;
    font-family: sans-serif;
}
/*伪元素选择器*/
a:link {
    color: red;}
a:hover {
    color: yellow;
    font-size: 125%;
}
a:active {
    color: blue;
    font-size: 125%;
}
a:visited {
    color: green;
    font-size: 85%;
}